

@import url('https://fonts.googleapis.com/css2?family='Big+Shoulders+Stencil+Display':wght@900');



.justify {
  text-align: justify !important
}

.page-link {
    background-color: #0a231fff;
}

.page-link.active, .active>.page-link {
    background-color: #ae8f5fff;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: azure;
    --bs-btn-border-color: #0a231fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0a231fff;
    --bs-btn-hover-border-color: #ae8f5fff;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}


.sidebar-navigation li a {
    
    color: azure;
    hover-color: #00894dff
}

.sidebar-tools-main {
    color: #FFFFFF;
    
}



.iframeContainer{
    position: relative;
    width: 500px;
    height: 800px;
    overflow: hidden;
}

.iframeContent{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 2000px;
}

.sidebar-navigation a {
    
    
    font-size: 1.2em;
}

.nav-footer .nav-footer-left {
    
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}


.nav-footer .nav-footer-center {
    
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: #ae8f5fff;
    
}

.navbar-brand {
font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}


.quarto-title-block .quarto-title-banner {
  
  background-size: 100%;
  background-position: left top;
  background-color: #0a231fff;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-origin: content-box;
}

h1, .h1, h2, .h2, h3, .h3 {
    color: #ae8f5fff;
}


#quarto-sidebar {
    background: #0a231fff;
}


.sidebar-title>a {
    color: #ae8f5fff;
}

.navbar-dark {
  background-color: #0a231fff;
  --bs-navbar-active-color: #ae8f5fff;
  --bs-navbar-hover-color: #00894dff;
  --bs-navbar-brand-color: #ae8f5fff;
  --bs-navbar-brand-hover-color: #00894dff;
}

.nav-footer {
  color: #ffffff;
  background-color: #0a231fff;
}











